@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

/* font-family: 'Poppins', sans-serif;
font-family: 'Heebo', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0 15px;
}

/* Navbar */

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.toggler-icon {
  width: 30px;
  height: 3px;
  background: #000;
  display: block;
  transition: all 0.1s;
}

.middle-bar {
  margin: 5px 0;
  opacity: 0;
}

.top-bar {
  transform: rotate(45deg) translate(5px, 5px);
}

.bottom-bar {
  transform: rotate(-45deg) translate(7px, -6px);
}

.navbar-toggler.collapsed .top-bar,
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-brand {
  font-family: "Heebo", sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #333;
}

.navbar-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.nav-item {
  padding-left: 40px;
}

.navbar-collapse .navbar-nav {
  text-align: center;
}

.nav-link {
  font-size: 24px;
  color: #333;
}

/* Home */

.smaller:first-child {
  font-size: 12px;
  text-decoration: none;
  color: #2d9cdb;
}

#home h1 {
  font-size: 24px;
}

#home {
  margin-top: 55px;
}

.smaller {
  margin-left: 45px;
}

#home img {
  width: 100%;
  padding-bottom: 22px;
}

#home p {
  max-width: 275px;
  font-size: 12px;
}

.smaller:nth-child(2) {
  max-width: 300px;
  padding-bottom: 10px;
}

.smaller:nth-child(4) {
  max-width: 230px;
  padding-bottom: 20px;
}

.smaller {
  padding-right: 15px;
}

label {
  margin-top: 30px;
  position: relative;
  font-size: 10px;
  color: #828282;
  font-weight: 500;
}

.email-input input {
  margin-top: 5px;
  padding-left: 20px;
  height: 47px;
  background: #f2f2f2;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  width: 270px;
}

#btn-join {
  position: absolute;
  width: 71px;
  height: 40px;
  background: #2d9cdb;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  top: 36%;
  left: 68%;
  color: #f2f2f2;
}

/* Services */

.card-wrapper {
  display: flex;
  flex-direction: column;
}

.services-title {
  margin: 100px 45px;
  font-weight: 500;
  font-size: 24px;
  color: #333333;
  max-width: 260px;
  margin-bottom: 130px;
}

.card {
  margin-bottom: 60px;
  padding: 49px 34px 43px;
  border-radius: 24px;
}

.card h2 {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 24px;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  max-width: 273px;
}

.icon {
  background-color: #2d9cdb;
  width: 67px;
  height: 67px;
  border-radius: 16px;
  border: none;
  margin-bottom: 35px;
}

.icon2 {
  background-color: #27ae60;
}

.icon3 {
  background-color: #eb5757;
}

.card-button {
  width: 116px;
  height: 42px;
  background: #e0e0e0;
  border-radius: 12px;
  border: none;
  color: #828282;
  font-weight: 500;
  font-size: 16px;
  margin-top: 30px;
}

.card-button2 {
  background-color: #2d9cdb;
  color: white;
}

.card:nth-child(2) {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.icon {
  text-align: center;
  align-items: center;
  padding: 19px;
  color: white;
}

/* Our Works */

#our-works {
  margin-top: 100px;
}

.design {
  margin-bottom: 45px;
}

.our-works-title {
  font-size: 24px;
  color: #333333;
  font-weight: 500;
  width: 267px;
  margin-bottom: 50px;
}

.design img {
  border-radius: 12px;
  width: 100vw;
  width: 100%;
  padding-bottom: 5px;
}

.design:nth-child(2) {
  font-size: 12px;
  font-weight: 300;
  color: #828282;
}

.design-title {
  margin-top: -15px;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

#see-more a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #2d9cdb;
}

#see-more i {
  padding-left: 12px;
  color: #2d9cdb;
}

/* Team */

.team-text {
  margin-top: 100px;
}

.team-text p:first-child {
  font-size: 18px;
  font-weight: 500;
  color: #eb5757;
}

.team-text h3 {
  font-weight: 500;
  font-size: 36px;
  columns: #333;
  width: 280px;
}

.team-text p:last-child {
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 400;
  width: 273px;
}

.team-photos {
  margin-top: 30px;
  column-gap: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.team-photos img {
  border-radius: 24px;
  width: 100%;
  object-fit: contain;
}

.team-photos img:first-child {
  grid-column: 1/2;
  grid-row: 2/4;
}

.team-photos img:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
}

.team-photos img:last-child {
  grid-column: 2/3;
  grid-row: 3/5;
}

/* Clients */

#clients {
  margin-top: 100px;
}

.clients-text {
  font-size: 24px;
  color: #333333;
  width: 351px;
}

.client-card {
  display: flex;
}

.client-card img {
  width: 90px;
  object-fit: contain;
}

.client-detail {
  padding-top: 20px;
  margin-left: 30px;
}

.client-card p:first-child {
  font-weight: 500;
  font-size: 24px;
  color: #333;
}

.client-card p:last-child {
  color: #828282;
  font-size: 18px;
  font-weight: 500;
}

/* fOOTER */

footer {
  margin-top: 100px;
  position: absolute;
  left: 0;
  width: 100vw;
  background-color: #100e1d;
}

.footer-navbar {
  padding: 0;
}

.footer-navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
  line-height: 36px;
}

.footer-navbar li {
  list-style: none;
}

.social-media p {
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #f2f2f2;
}

.social-media-icons {
  display: flex;
  gap: 11px;
}

.footer-items {
  padding: 40px 40px 100px 40px;
}

.footer-items ul,
.footer-items .social-media-icons {
  padding-bottom: 50px;
}

.github-link {
  color: #f2f2f2;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
}

.github-link a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .nav-item {
    padding-left: 18px;
  }
}

@media screen and (max-width: 375px) {
  .email-input input {
    max-width: 230px;
  }

  #btn-join {
    left: 63%;
  }

  .team-photos {
    gap: 5px;
  }

  .clients-text {
    max-width: 270px;
  }

  .github-link {
    width: 300px;
  }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  .card {
    width: 320px;
    margin-left: 13px;
  }

  .design {
    padding: 15px;
    max-width: 550px;
  }

  .our-works-title {
    margin-left: 20px;
  }

  .clients-text {
    width: 100%;
  }
}

/* Desktop */

@media screen and (min-width: 768px) {
  .smaller:first-child {
    font-size: 18px;
  }

  #home {
    margin-top: 96px;
  }

  .smaller {
    margin-left: 15%;
  }

  #home img {
    padding-bottom: 35px;
  }

  #home h1 {
    font-size: 48px;
  }

  .smaller:nth-child(2) {
    max-width: 543px;
  }

  .smaller:nth-child(4) {
    max-width: 367px;
  }

  #home p {
    max-width: 366px;
    font-size: 18px;
  }

  label {
    margin-top: 45px;
    font-size: 14px;
  }

  .email-input input {
    margin-top: 10px;
    height: 57px;
    font-size: 18px;
    width: 350px;
  }

  #btn-join {
    width: 94px;
    height: 50px;
    font-size: 18px;
    top: 40%;
    left: 69%;
  }

  /* Services */
  #services {
    margin-top: 190px;
  }

  .card-wrapper {
    flex-direction: row;
    gap: 10px;
    padding: 15px;
  }

  .services-title {
    font-size: 36px;
    min-width: 346px;
    margin-left: 15%;
    margin-bottom: 90px;
  }

  /* Our works */
  #our-works {
    margin-top: 200px;
  }

  .design-wrapper {
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 45px;
    padding: 15px;
    column-gap: 15px;
  }

  .our-works-title {
    margin-bottom: 0;
  }

  .design img {
    max-width: 540px;
  }

  .below {
    padding-top: 128px;
  }

  #see-more {
    padding-left: 10px;
    text-align: right;
    margin-top: -120px;
  }

  /* Team */

  #team {
    margin-top: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
  }

  /* Client */

  .clients-text {
    font-size: 36px;
    max-width: 960px;
    width: 100%;
  }

  /* Footer */

  .footer-items {
    display: flex;
    justify-content: center;
    gap: 90px;
  }

  .label2 {
    margin: 0;
  }
}

@media all and (min-width: 1024px) {
  .card {
    width: 340px;
    height: 435px;
  }

  .card-wrapper {
    justify-content: center;
    gap: 50px;
  }

  #our-works {
    padding: 0 15%;
    margin: 100px auto;
  }

  .design-wrapper {
    gap: 40px;
  }

  #team {
    padding: 0 15%;
  }

  #clients {
    padding: 0 15%;
  }

  .footer-items {
    gap: 30%;
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media all and (min-width: 1445px) {
  .card-wrapper {
    justify-content: center;
    gap: 80px;
  }

  .card {
    width: 20vw;
  }

  .design-wrapper {
    justify-content: center;
  }
}
